/*-------------------------------
------------- FONTS -------------
-------------------------------*/

@font-face {
    font-family: 'Intro';
    src: url('../fonts/Intro/Intro.eot');
    src: url('../fonts/Intro/Intro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Intro/Intro.woff') format('woff'),
         url('../fonts/Intro/Intro.woff2') format('woff2'),
         url('../fonts/Intro/Intro.ttf') format('truetype'),
         url('../fonts/Intro/Intro.svg#TimeBurner') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.eot');
    src: url('../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
         url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
         url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype'),
         url('../fonts/Roboto/Roboto-Bold.svg#TimeBurner') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Medium.eot');
    src: url('../fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/Roboto-Medium.woff') format('woff'),
         url('../fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
         url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype'),
         url('../fonts/Roboto/Roboto-Medium.svg#TimeBurner') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-MediumItalic.eot');
    src: url('../fonts/Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/Roboto-MediumItalic.woff') format('woff'),
         url('../fonts/Roboto/Roboto-MediumItalic.woff2') format('woff2'),
         url('../fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype'),
         url('../fonts/Roboto/Roboto-MediumItalic.svg#TimeBurner') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto.eot');
    src: url('../fonts/Roboto/Roboto.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/Roboto.woff') format('woff'),
         url('../fonts/Roboto/Roboto.woff2') format('woff2'),
         url('../fonts/Roboto/Roboto.ttf') format('truetype'),
         url('../fonts/Roboto/Roboto.svg#TimeBurner') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Italic.eot');
    src: url('../fonts/Roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/Roboto-Italic.woff') format('woff'),
         url('../fonts/Roboto/Roboto-Italic.woff2') format('woff2'),
         url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype'),
         url('../fonts/Roboto/Roboto-Italic.svg#TimeBurner') format('svg');
    font-weight: 400;
    font-style: italic;
}


/*-------------------------------
----------- VARIABLES -----------
-------------------------------*/

:root {
    --first-color: #22e8b3;
    --second-color: #5c33d4; 
    --second-color-dark: #251e5d;
    --font-color: #202020;
    --font-color-light: #474747;
}

html {
    font-size: 62.5%; }
  
body {
    height: 100vh;

    background-color: #231b2c;

    font-family: 'Roboto';
    color: var(--font-color);

    font-size: 1.4rem;
    position: relative;
    max-width: 192.0rem;
    margin: 0 auto; 
}

* {
    box-sizing: border-box;
    /* border: 1px solid orangered; */
}

figure {
    padding: 0;
    padding: 0;
    margin: 0; 
}

button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    display: block; 
}

input {
    outline: none;
    border: none; 
}

a {
    text-decoration: none;
    color: inherit; 
}

a:hover {
    color: var(--second-color-dark);
}

h1, h2, h3, p, blockquote {
    margin: 0; 
}

ul {
    list-style: none;
    padding: 0;
}

/*-------------------------------
-------- GENERAL STYLES ---------
-------------------------------*/

.main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#playing-field {
    display: block;
    border: 0.4rem solid darkgreen;
    border-radius: 1.5rem;

    box-shadow: 0 0 8rem 0 black;

    /* transition: transform 0.3s cubic-bezier(.17,.89,.53,1.77); */
    transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    will-change: transform;
}

