/*-------------------------------
------------- FONTS -------------
-------------------------------*/

@font-face {
    font-family: 'Slot Cyrillic';
    src: url('../fonts/Slot Cyrillic/Slot Cyrillic.eot');
    src: url('../fonts/Slot Cyrillic/Slot Cyrillic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Slot Cyrillic/Slot Cyrillic.woff') format('woff'),
         url('../fonts/Slot Cyrillic/Slot Cyrillic.woff2') format('woff2'),
         url('../fonts/Slot Cyrillic/Slot Cyrillic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.eot');
    src: url('../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
         url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
         url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Medium.eot');
    src: url('../fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/Roboto-Medium.woff') format('woff'),
         url('../fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
         url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-MediumItalic.eot');
    src: url('../fonts/Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/Roboto-MediumItalic.woff') format('woff'),
         url('../fonts/Roboto/Roboto-MediumItalic.woff2') format('woff2'),
         url('../fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto.eot');
    src: url('../fonts/Roboto/Roboto.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/Roboto.woff') format('woff'),
         url('../fonts/Roboto/Roboto.woff2') format('woff2'),
         url('../fonts/Roboto/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Italic.eot');
    src: url('../fonts/Roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/Roboto-Italic.woff') format('woff'),
         url('../fonts/Roboto/Roboto-Italic.woff2') format('woff2'),
         url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}


/*-------------------------------
----------- VARIABLES -----------
-------------------------------*/

:root {
    --first-color: #22e8b3;
    --second-color: #5c33d4; 
    --second-color-dark: #251e5d;
    --font-color: #202020;
    --font-color-light: #474747;
}

/*-------------------------------
-------- GENERAL STYLE ----------
-------------------------------*/

html {
    font-size: 62.5%; }
  
body {
    height: 100%;

    background-color: #231b2c;

    font-family: 'Roboto';
    color: var(--font-color);

    font-size: 1.4rem;
    position: relative;
    max-width: 66.0rem;
    margin: 0 auto; 
}

* {
    box-sizing: border-box;
    /* border: 1px solid orangered; */
}

button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

input {
    outline: none;
    border: none; 
}

h1, h2, h3, p, blockquote {
    margin: 0; 
}

ul {
    list-style: none;
    padding: 0;
}

/*-------------------------------
------------ HEADER -------------
-------------------------------*/

.header {
    font-family: "Slot Cyrillic";
    color: white;

    display: flex;
    align-items: center;
}

/*-------------------------------
------------- LOGO --------------
-------------------------------*/

.logo {
    margin: 2rem 0;
    display: flex;
    align-items: center;
}

.logo h1 {
    font-size: 10rem;
    line-height: 8rem;
    font-weight: 400;
}

.logo img {
    width: 7rem;
}

/*-------------------------------
-------------- MENU -------------
-------------------------------*/

.menu {
    margin-left: auto;
    display: flex;
}

.menu-button {
    margin-left: 1.5rem;

    width: 5rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-size: 100%;

    transition: transform 0.1s ease-in;
}

.menu .repeat {
    background-image: url(../images/repeat.png);
}
.menu .repeat:hover{
    background-position: 0 -5.1rem;
}

.menu .setting {
    background-image: url(../images/setting.png);
}
.menu .setting:hover{
    background-position: 0 -5.1rem;
}

/*-------------------------------
---------- MAIN STYLES ----------
-------------------------------*/

.main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

/*-------------------------------
---------- ROUND INFO -----------
-------------------------------*/

.round-info {
    margin: 2.5rem 0;
    width: 100%;
    
    color: white;
    font-weight: 500;
    font-size: 2.4rem;

    justify-content: space-around;

    display: flex;
    z-index: 999;
}

/*-------------------------------
-------- GAMEOVER WINDOW --------
-------------------------------*/

.game-over-window.hidden {
    display: none;
}

.lose {
    color: #fe1949;
}

.win {
    color: greenyellow;
}

.game-over-window {

    position: absolute;
    top: 8.25rem;
    width: 65rem;
    height: 65rem;
    border-radius: 1rem;

    opacity: 1;
    background: rgb(35,27,44,0.85);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game-over-window .game-status {
    font-family: "Slot Cyrillic";
    font-size: 7.2rem;
    font-weight: 400;
}

.game-over-window .game-result {
    margin: 5rem 0;

    width: 40rem;
    font-size: 3rem;
}

.game-over-window .game-result .value {
    text-align: right;
}

/*-------------------------------
--------- SETTING WINDOW --------
-------------------------------*/

.setting-window.hidden {
    display: none;
}

.setting-window {
    color: white;

    position: absolute;
    top: 8.25rem;
    width: 65rem;
    height: 65rem;
    border-radius: 1rem;

    opacity: 1;
    background: rgb(35,27,44,0.85);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.setting-window .title {
    font-family: "Slot Cyrillic";
    font-size: 7.2rem;
    font-weight: 400;
}

.setting-window .setting-fields {
    margin: 5rem 0;

    width: 50rem;
    font-size: 2.5rem;
}

.setting-window .setting-fields tr {
    line-height: 5rem;
}

.setting-window .setting-fields .value {
    vertical-align: middle;
    text-align: right;
    width: 12.5rem;
}

.setting-window .setting-fields input, 
.setting-window .setting-fields select {
    width: 100%;
    font-size: 2rem;
} 

.setting-window .hint {
    text-align: left;
    font-family: "Roboto";
    font-style: italic;
    font-size: 1.8rem;

    margin-bottom: 2.5rem;
}

.setting-window .interaction {
    padding: 0 6.5rem;
    margin-left: auto;
}

#playing-field {
    border: 0.4rem solid darkgreen;
    border-radius: 1.5rem;

    box-shadow: 0 0 8rem 0 black;
    transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    /* transition: transform 0.3s cubic-bezier(.17,.89,.53,1.77); */
}

.hidden {
    display: none;
}

.button {
    margin: 0 1rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    border: 0.2rem solid #fe1949;

    padding: 1rem 2rem;

    color: white;
    text-transform: uppercase;
    text-align: center;
}

.button:hover {
    background-color: #fe1949;
    color: white;
}

.custom-check{
    cursor: pointer;
    margin-left: auto;
    position: relative;
    text-indent: 15px;
    
    display: block;

    background-color: transparent;

    width: 2rem;
    height: 2rem;
    border-radius: 4.5rem;
    border: 0.2rem solid #fe1949;
  }
  
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]:checked + label {
    background-color: #fe1949;
}