/*-------------------------------
------------- FONTS -------------
-------------------------------*/

@font-face {
    font-family: 'Slot Cyrillic';
    src: url('../fonts/Slot Cyrillic/Slot Cyrillic.eot');
    src: url('../fonts/Slot Cyrillic/Slot Cyrillic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Slot Cyrillic/Slot Cyrillic.woff') format('woff'),
         url('../fonts/Slot Cyrillic/Slot Cyrillic.woff2') format('woff2'),
         url('../fonts/Slot Cyrillic/Slot Cyrillic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.eot');
    src: url('../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
         url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
         url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Medium.eot');
    src: url('../fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/Roboto-Medium.woff') format('woff'),
         url('../fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
         url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-MediumItalic.eot');
    src: url('../fonts/Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/Roboto-MediumItalic.woff') format('woff'),
         url('../fonts/Roboto/Roboto-MediumItalic.woff2') format('woff2'),
         url('../fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto.eot');
    src: url('../fonts/Roboto/Roboto.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/Roboto.woff') format('woff'),
         url('../fonts/Roboto/Roboto.woff2') format('woff2'),
         url('../fonts/Roboto/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Italic.eot');
    src: url('../fonts/Roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/Roboto-Italic.woff') format('woff'),
         url('../fonts/Roboto/Roboto-Italic.woff2') format('woff2'),
         url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}


/*-------------------------------
----------- VARIABLES -----------
-------------------------------*/

:root {
    --first-color: #22e8b3;
    --second-color: #5c33d4; 
    --second-color-dark: #251e5d;
    --font-color: #202020;
    --font-color-light: #474747;
}

/*-------------------------------
-------- GENERAL STYLE ----------
-------------------------------*/

html {
    font-size: 62.5%; }
  
body {
    height: 100%;

    background-color: #231b2c;

    font-family: 'Roboto';
    color: var(--font-color);

    font-size: 1.4rem;
    position: relative;
    max-width: 66.0rem;
    margin: 0 auto; 
}

* {
    box-sizing: border-box;
    /* border: 1px solid orangered; */
}

button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    display: block; 
}

input {
    outline: none;
    border: none; 
}

h1, h2, h3, p, blockquote {
    margin: 0; 
}

ul {
    list-style: none;
    padding: 0;
}

/*-------------------------------
--------- HEADER STYLES ---------
-------------------------------*/

.header {
    font-family: "Slot Cyrillic";
    color: white;
}

.logo {
    margin: 2rem 0;
    display: flex;
    align-items: center;
}

.logo h1 {
    font-size: 10rem;
    line-height: 8rem;
    font-weight: 400;
}

.logo img {
    width: 7rem;
}

/*-------------------------------
---------- MAIN STYLES ----------
-------------------------------*/

.main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/*-------------------------------
--------- FIELD OVERLAY ---------
-------------------------------*/

.field-overlay {
    color: greenyellow;

    position: absolute;
    width: 65rem;
    height: 65rem;
    border-radius: 1.5rem;

    background: rgb(35,27,44,0.75);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.field-overlay .game-status {
    font-family: "Slot Cyrillic";
    font-size: 7.2rem;
    font-weight: 400;
}

.field-overlay .game-result {
    margin: 5rem 0;

    width: 36rem;
    font-size: 3.6rem;
}

.field-overlay .game-result .value {
    text-align: right;
}

.button {
    font-size: 2.4rem;
    border-radius: 1.5rem;
    border: 0.2rem solid greenyellow;

    padding: 1.5rem 3rem;

    color: greenyellow;
    text-transform: uppercase;
    text-align: center;
}


#playing-field {
    border: 0.4rem solid darkgreen;
    border-radius: 1.5rem;

    box-shadow: 0 0 8rem 0 black;
    transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    /* transition: transform 0.3s cubic-bezier(.17,.89,.53,1.77); */
}


